.letter-four{
	letter-spacing: 5px;
}
.letter-two{
	letter-spacing: 40px;
}
.yt-table{
	width: 100%;
	table-layout: auto;
}

.file-label{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 195px;
    height: 28px;
    line-height: 28px;
    padding-left: 4px;
    background: #FFFFFF;
    color: #333333;
    font-size: 14px;
    outline: none;
    border: 1px solid #DFE6F3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.file-label .file-input{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.file-label .file-title {
    color: #999;
}

.nice-select{
	display: inline-block;
    float: none;
    vertical-align: middle;
}

.ordinary-div{
	padding: 20px 0;
    margin: 5px;
    border: 1px solid #DFE6F3;
    background-color: #FFFFFF;
    min-width: 1093px;
    min-height: 810px;
}
.ordinar-div{
	display: none;
}

.title-model-sty {
    position: relative;
    height: 25px;
    line-height: 25px;
}
.form-num-model {
    float: right;
    display: inline;
    padding-right: 35px;
}
.form-num{
	font-size: 14px;
    color: #999999;
}
.title-line {
    padding-left: 10px;
}
.title-line div {
    height: 1px;
    border-bottom: 1px solid #de595a;
}
.base-info-model{}
.base-info-form-modle {
    padding-top: 18px;
    padding-left: 10px;
}
.field-label {
    display: inline-block;
    width: 24%;
}
.field-label .field-title {
    color: #384495;
    font-weight: bold;
}
.field-title, .field-cont {
    min-width: 80px;
    vertical-align: middle;
}
.field-cont {
    width: 70%;
}
.not-null {
    font-size: 14px;
    color: #FF0000;
    vertical-align: middle;
}
.from-table {
    width: 100%;
}
.from-table tr td {
	position: relative;
    padding: 10px 0;
}

.form-label{
	width: 33%;
	display: inline-block;
	position: relative;
}

.title-model-sty {
    position: relative;
    height: 25px;
    line-height: 25px;
}
.payment-detail{
	padding: 10px 0;
}
.button-box {
    padding-top: 20px;
    text-align: center;
}
.button-box button {
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    font-size: 18px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}
.operate-update {
    margin-right: 20px;
}
.operate-update img, .operate-del img {
    vertical-align: middle;
}
.file-name{
	color: #384495;
}
.count-box{
	padding: 10px 20px;
}
.count-box .form-label{
	width: 49%;
}
.oper-select{
	width: 200px;
}
.operation{
	padding-left: 10px;
	padding-top: 10px;
	
}

.count-box .left{
	width: 86px;
	float: left;
}
.count-box .right{
	overflow: hidden;
}

.create-detali{
	position: fixed;
    width: 500px;
    top: 0;
    left: 0;
    z-index: 10001;
    display: none;
}
.model-title img {
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 3px;
}
.project-select{
	width: 200px;
}
.file-label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 195px;
    height: 28px;
    line-height: 28px;
    padding-left: 4px;
    background: #FFFFFF;
    color: #333333;
    font-size: 14px;
    outline: none;
    border: 1px solid #DFE6F3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.file-label .file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.file-label .file-title {
    color: #999;
}
.model-content{
	padding: 10px 20px;
}
.create-detali button{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding: 0 10px;
}
.create-detali .search-box{
	padding-top: 10px;
	padding-bottom: 20px;
}
.sele-num{
	cursor: pointer;
}

.message-div{
	padding-left: 20px;
	padding-top: 20px;
	color:#c01111 !important;
}
.context-div{
	display: none;
}
.context-div .button-box{
	padding-left: 20px;
}
.context-div .min-but button{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding: 0 10px;
}

.division-div{
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    margin-top: 20px;
    background: #EFF3F6;
    border: 1px solid #D6E6F3;
    border-left: 0px;
    border-right: 0px;
    padding-left: 20px;
}
.base-info-model{
	padding-left: 10px;
}
.label-title {
    padding-left: 10px;
}
.count-title {
	color: #475c6d;
	font-weight: bold;
	font-size: 16px;
}
.dib {
    display: inline-block;
}
.file-up-div {
    display: inline-block;
    vertical-align: middle;
}
.cont-file{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: 30px;
    width: 70px;
    font-size: 19px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
}