.letter-four {
	letter-spacing: 5px;
}

.letter-two {
	letter-spacing: 40px;
}

.nice-select {
	display: inline-block;
	float: none;
	width: 200px;
	vertical-align: middle;
}

.ordinary-div {
	padding: 20px 0;
	margin: 5px;
	border: 1px solid #DFE6F3;
	background-color: #FFFFFF;
	min-width: 1093px;
	min-height: 825px;
}

.title-model-sty {
	position: relative;
	height: 25px;
	line-height: 25px;
}

.form-num-model {
	float: right;
	display: inline;
	padding-right: 35px;
}

.form-num {
	font-size: 14px;
	color: #999999;
}

.title-line {
	padding-left: 10px;
}

.title-line div {
	height: 1px;
	border-bottom: 1px solid #de595a;
}

.base-info-model {
	padding: 0 10px;
}

.base-info-form-modle {
	padding-top: 18px;
	padding-left: 10px;
}

.field-label {
	display: inline-block;
	width: 24%;
}

.field-label .field-title {
	color: #384495;
	font-weight: bold;
}

.field-title,
.field-cont {
	min-width: 80px;
	vertical-align: middle;
}

.field-cont {
	width: 70%;
}

.not-null {
	font-size: 14px;
	color: #FF0000;
	vertical-align: middle;
}

.from-table {
	width: 100%;
}

.from-table tr td {
	position: relative;
	padding: 10px 0;
}

.form-label {
	position: relative;
	width: 33%;
	display: inline-block;
}
.title-model-sty {
	position: relative;
	height: 25px;
	line-height: 25px;
}
/*基础区域CSS END*/


.secondary-line {
	border-bottom: 1px dashed #384495;
}
.operate-update {
    margin-right: 20px;
}
/*蓝底标题*/
.division-div {
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    margin-top: 20px;
    background: #EFF3F6;
    border: 1px solid #D6E6F3;
    border-left: 0px;
    border-right: 0px;
    padding-left: 18px;
}
/*申请预算总金额*/
.cost-total-rmb {
    padding: 20px 20px 20px 16px;
    font-size: 14px;
}
.cost-total-rmb div {
    display: inline;
}
.reim-total-lower-div {
	margin-left: 24px;
}
.reim-total-small-div{
	margin-left: 165px;
}
.documentsNum-div {
    padding: 0 20px 20px 42px;
    font-size: 14px;
}
/*付款方相关附件*/
.travel-list-model {
    padding: 20px 10px 0 10px;
}
.count-box {
    padding: 10px 20px;
}
.from-table {
    width: 100%;
}
.from-table tr td {
    position: relative;
    padding: 10px 0;
}
.file-up-div {
    display: inline-block;
    vertical-align: middle;
}
.dib {
    display: inline-block;
}
.cont-file {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: 30px;
    width: 70px;
    font-size: 19px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
}
.risk-model {
    display: none;
}
.file-box{
	display: block !important;
}
.file-box .li-div{
	position: relative;
	display: block !important;
	width: 100%;
	padding:5px 10px;
	color: #333333;
}
.file-box .del-file {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-bottom: 2px;
    vertical-align: middle;
    cursor: pointer;
}
.del-file {
    color: red;
    float: right;
    font-size: 16px;
    cursor: pointer;
}
.paymentDetailed table{
	margin-bottom: 20px;
}
.business-div table{
	margin-bottom: 20px;
}
.file-box .li-div .file-dw {
	position: absolute;
	right: 48px;
	cursor: pointer;
}

.file-box .li-div .file-pv {
	position: absolute;
	right: 148px;
}

.file-box .li-div .file-pv img {
	position: absolute;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.file-box .li-div .file-pvno {
	position: absolute;
	right: 0;
	color: #ccc;
}
/*字段间隔*/
.letter-two {
	letter-spacing: 44px;
}

.letter-three {
	letter-spacing: 14px;
}

.letter-four {
	letter-spacing: 6px;
}
.letter-five {
	letter-spacing: 1px;
}
/*流程审批*/
.count-box .form-label {
    width: 49%;
}
.form-label {
    position: relative;
    width: 33%;
    display: inline-block;
}
.count-box .left {
    width: 100px;
    float: left;
    margin-left: 7px;
}
.shrink-div {
    padding-left: 10px;
}
.count-box {
    padding: 10px 20px;
}
.count-box .right {
    overflow: hidden;
}
/*事前审批单隐藏弹窗*/
.alert-div {
    position: fixed;
    left: 0;
    top: 0;
    width: 800px;
    z-index: 101;
    display: none;
}
.model-content {
    padding: 10px 20px;
}
.special-list {
    margin-top: 10px;
}
.button-box {
    padding-top: 20px;
    text-align: center;
}
.page-info {
    color: #333333;
    font-size: 14px;
    margin-top: 20px;
}
.yt-table {
    width: 100%;
    table-layout: auto;
}
.prior-approval,.special-name {
    cursor: pointer;
}
/*tab样式*/
.cost-type-tab {
    height: 35px;
    background: #EFF3F6;
}
.cost-type-tab ul li {
    float: left;
    display: inline;
    width: 160px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #DFE6F3;
    color: #495295;
    cursor: pointer;
}
.cost-detail-info-model {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    width: 840px;
    display: none;
}
.cost-detail-info-model button {
    font-size: 16px;
    margin-right: 30px;
}
.model-bottom-btn {
    text-align: center;
}
.tab-check {
    border-bottom: 1px solid #FFFFFF !important;
    background: #FFFFFF;
    color: #384495 !important;
}
.wholeAlert{
	background: #FFFFFF;
	padding-bottom: 20px;
}
/*新增付款明细*/
/*.general-alert, .msg-alert {
    width: 250px;
}*/
.alert-div {
    position: fixed;
    left: 0;
    top: 0;
    width: 800px;
    z-index: 101;
    display: none;
}
.min-but button {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 14px;
}
.general-alert{
	width: 500px;
}
/*底部按钮样式*/
.bottom-btn button {
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}
.qtip-text-div{
	padding: 10px 20px;
    color: red;
}
.mod-div,.else-div{
	display: none;
}
.label-title {
	padding: 0 10px;
}
.export-but{
	margin-right: 20px;
}
.budget-item-one,.budget-item-two,.budget-item-three{
	width: 180px;
}
.rece-msg-text{
	color: red;
	margin-left: 10px;
	vertical-align: bottom;
	display: none;
}
.msg-alert,.create-detali{
	width: 500px;
}
.business-div .button-box{
	padding: 0 10px;
	padding-top: 0;
}
.money-input{
	text-align: right;
}
.rece-msg table{
	margin-bottom: 20px;
}
.file-pv{
	padding-left: 23px;
	background: url(../../../../../images/common/preview-icon.png) no-repeat left;
	color: #4c4c4c;
}
.file-dw{
	padding-left: 23px;
	background: url(../../../../../images/common/down-load-icon.png) no-repeat left;
	color: #4c4c4c;
}
.secondary-dotted{
	width: 738px;
	border: dashed 1px #e6e6e6;
	margin-top: 13px;
	margin-left: 10px;
}
#busiUserInfo {
    display: none;
    position: absolute;
    padding: 10px;
    width: 248px;
    height: 200px;
    overflow: auto;
    border: 1px solid #DFE6F3;
    border-top: 0;
    z-index: 1;
    background: #FFF;
}
#searchUser {
    position: absolute;
    right: 18px;
    top: 13px;
    cursor: pointer;
}
#clearUser {
    display: inline;
    position: absolute;
    left: 265px;
    top: 16px;
    cursor: pointer;
}
.display-loan{
	display: none;
}
