@charset "utf-8";
body {
	background: #FFFFFF !important;
}

#homePage {
	margin: 5px;
	min-width: 1095px;
}

#left-base {
	margin-right: 5px;
	padding: 32px 10px 0px 10px;
	background: #FFFFFF;
	width: 249px;
	height: auto;
	border: 1px solid #DFE6F3;
}

#left-base .box {
	text-align: center;
}

.users-img-bak {
	position: absolute;
	top: 47px;
	display: inline;
	height: 100px;
	width: 100px;
	/*background: url(../../images/common/users-bak-img.png) no-repeat;*/
}

.users-img-model img {
	width: 100px;
	height: 100px;
	vertical-align: middle;
}

#users-name {
	padding: 25px 0px 18px 0px;
	font-size: 24px;
	color: #222222;
}

#users-job {
	padding-bottom: 25px;
	font-size: 16px;
	color: #666666;
}

#left-ul li {
	padding: 10px 15px;
	border-top: 1px solid #EEEEEE;
}

#left-ul li img {
	vertical-align: middle;
}

#edit-phone,
#log-icon,
#update-pwd {
	float: right;
	display: inline;
	cursor: pointer;
}

.no-login {
	color: #ff3535;
}

.nav-heard {
	padding-top: 10px;
	z-index: 5;
	background: #FFFFFF;
	height: 40px;
	border-bottom: 1px solid #EEEEEE;
}

.tab-nav {
	margin-right: 30px;
	position: relative;
	float: left;
	display: inline;
	padding: 0px 10px;
	height: 40px;
	line-height: 38px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
}

.active-nav {
	color: #179ee8;
	border-bottom: 3px solid #179ee8;
	background: #FFFFFF;
	box-sizing: border-box;
}

#right-matter {
	padding-left: 10px;
	width: 100%;
	padding-top: 5px;
	background: #FFFFFF;
	border: 1px solid #DFE6F3;
}

.condition-model {
	padding: 10px 20px 10px 0px;
	font-size: 16px;
	text-align: right;
	border-bottom: 1px solid #EEEEEE;
}

.condition-model label {
	cursor: pointer;
}

.condition-model img {
	margin-right: 8px;
	margin-bottom: 3px;
	vertical-align: middle;
}

.condition-title {
	padding: 10px 113px 10px 10px;
	color: #222222;
	font-size: 16px;
}

.tab-model ul li {
	border-top: 1px solid #EEEEEE;
}

.backlog-model ul li {
	padding: 10px 113px 10px 10px;
	font-size: 14px;
}

.caution-model ul li {
	padding: 10px 17px 10px 10px;
}

.tab-model ul li div {
	display: inline;
	color: #666666;
}

.d-right {
	float: right;
	display: inline
}

.font-col {
	color: #179ee8;
	cursor: pointer;
}

.tab-content {
	display: none;
}

.echarts-box {
	position: relative;
	/*height: 300px;*/
}

.echarts-box .tab-content {
	display: block;
	width: 100%;
	height: 100%;
	/*position: absolute;
	left: -11111px;*/
}

.war-font-co {
	color: #ff3535;
}

.look-span {
	margin-right: 25px;
}

.day-span {
	margin-right: 45px;
}

.yt-bubble {
	top: 2px;
	position: absolute;
	background-color: #ff3535;
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	text-align: center;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	color: #fff;
	display: inline-block !important;
	cursor: pointer;
}

.radio-sty input {
	margin-right: 10px;
	position: absolute;
	left: 0 !important;
	cursor: pointer;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	background: url(../../images/index/radio2.png) 2px 3px no-repeat !important;
	position: relative;
	vertical-align: middle;
}

.radio-sty {
	margin-right: 15px;
}

.radio-sty.check {
	background: url(../../images/index/radio2.png) 0px 5px no-repeat !important;
	position: relative;
}

.radio-sty {
	background: url(../../images/index/radio1.png) 0px 5px no-repeat !important;
	position: relative;
}


/**
 * 
 * 
 * 
 * 系统模块区域
 * 
 * 
 * 
 * 
 */

.sys-model-list {
	margin-top: 5px;
	padding: 30px 10px 20px 10px;
	border: 1px solid #DFE6F3;
	background: #FFFFFF;
}

.sys-model-list .box-div {
	float: left;
	display: inline;
}

#modelList li {
	float: left;
	display: inline;
	margin-right: 35px;
}

#modelList .model-logo {
	width: 74px;
	height: 74px;
	line-height: 74px;
	text-align: center;
	background: url(../../images/index/model-bak.png) 0px 0px no-repeat !important;
	cursor: pointer;
}

#modelList .model-logo img {
	vertical-align: middle;
	margin-bottom: 3px;
}

#modelList .model-name {
	padding-top: 15px;
	width: 74px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.prev-btn,
.next-btn {
	height: 108px;
	line-height: 108px;
	cursor: pointer;
}

.prev-btn {
	margin-right: 42px;
}

.prev-btn img,
.next-btn img {
	vertical-align: middle;
}

.statistics-model {
	margin: 5px 0px;
	padding: 0px 25px 20px 20px;
	background: #FFFFFF;
	border: 1px solid #DFE6F3;
}

.query-model {
	margin: 5px 0px;
}

.fl {
	float: left;
	display: inline;
}

.laws-query-model,
.laws-term-model,
.support-model {
	margin-right: 5px;
	padding: 20px 18px 20px 15px;
	background: #FFFFFF;
	border: 1px solid #DFE6F3;
}

.support-model {
	position: relative;
}

.app-num-model {
	display: none;
	top: 10px;
	width: 90%;
	position: absolute;
	text-align: center;
}

.app-num-model img {
	width: 135px;
	height: 135px;
}

.term-label {
	color: #222222;
	font-size: 16px;
	margin-right: 25px;
}

.query-title {
	padding-bottom: 18px;
	color: #222222;
	font-size: 16px;
	text-align: center;
}

.laws-query-model table tr td {
	padding-bottom: 18px;
}

.laws-title,
.laws-cont {
	width: 410px;
}

.term-model {
	padding: 57px 0px 95px 0px;
	text-align: center;
}

.term-inpu {
	width: 209px;
}

.bot-btn-model {
	padding-left: 20px;
	text-align: center;
}

.com-btn {
	width: 140px;
	color: #FFFFFF;
	font-size: 18px;
	width: 140px;
	height: 28px;
	line-height: 26px;
	background: #179ee8;
	border: 1px solid #179ee8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}

.reset-btn {
	width: 140px;
	color: #FFFFFF;
	font-size: 18px;
	width: 140px;
	height: 28px;
	line-height: 26px;
	background: #c2c2c2;
	border: 1px solid #c2c2c2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}

.support-model img {
	vertical-align: middle;
	margin-right: 18px;
}

.support-model div {
	padding-bottom: 15px;
}

.support-model div button {
	width: 240px;
	font-size: 14px !important;
}

.footer-model {
	padding: 10px 20px;
	border: 1px solid #DFE6F3;
	background: #FFFFFF;
}

.footer-model {
	margin-top: 5px;
}

.laws-query-model .com-checkbox {
	margin-right: 8px;
	position: absolute;
	left: 0 !important;
	cursor: pointer;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	background: url(../../images/index/radio2.png) 2px 3px no-repeat !important;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
}

.checkbox-sty.check {
	background: url(../../images/index/checkbox2.png) 0px 3px no-repeat !important;
	position: relative;
}

.checkbox-sty {
	background: url(../../images/index/checkbox1.png) 0px 3px no-repeat !important;
	position: relative;
	cursor: pointer;
}

#appNum {
	cursor: pointer;
}

label.yt-radio {
	height: auto;
}


/**
 * 
 * radio默认背景
 *
 */

label.yt-radio {
	background: url(../../images/index/radio1.png) 4px no-repeat !important;
}


/**
 * 
 * radio默认选中背景
 *
 */

label.yt-radio.check {
	background: url(../../images/index/radio2.png) 4px no-repeat !important;
}


/********** 提醒设置 Start *************/

.setting-alert {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10001;
	width: 600px;
	display: none;
}

.setting-alert .model-title {
	background-color: #417095;
	color: #fff;
	height: 40px;
	line-height: 40px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 0 10px;
	font-size: 16px;
}

.setting-alert .model-title img {
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 3px;
}

.setting-alert .model-content {
	background: #FFFFFF;
	padding: 0 10px;
}

.setting-alert.heard-search-model {
	padding: 20px 10px;
}

.setting-alert .model-bottom-btn {
	text-align: center;
	padding: 10px 0;
}

.setting-alert .radio-sty {
	margin-right: 0;
}

.setting-alert .setting-tab {
	padding: 10px;
}

.setting-alert .setting-tab li {
	float: left;
	padding: 0 10px;
	cursor: pointer;
}

.setting-alert .setting-tab li.check {
	color: #179ee8;
	border-bottom: 3px solid #179ee8;
	background: #FFFFFF;
	box-sizing: border-box;
}

.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}

.clearfloat {
	zoom: 1;
}

.letter-four {
	letter-spacing: 5px;
}

.setting-alert .tab-div {
	padding: 0 10px;
}

.setting-alert .form-table {
	width: 100%;
}

.setting-alert .form-table tr td {
	padding: 10px 0;
}

.setting-alert .nice-select {
	width: 300px;
	display: inline-block;
	float: none;
	vertical-align: middle;
}

.setting-alert .state-select {
	width: 150px;
}

.colon {
	margin-left: 5px;
}

.setting-alert .prev-day {
	width: 100px;
}

.predict-select {
	width: 50px !important;
}


/********** 提醒设置 End *************/


/*************** 会议安排 Start *********************/

.conference-calendar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10001;
	width: 800px;
	display: none;
}

.conference-calendar .model-title {
	background-color: #417095;
	color: #fff;
	height: 40px;
	line-height: 40px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 0 10px;
	font-size: 16px;
}

.conference-calendar .model-title img {
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 3px;
}

.conference-calendar .model-content {
	height: 600px;
	background: #FFFFFF;
}

.conference-calendar .heard-search-model {
	padding: 20px 10px;
}

.conference-calendar .model-bottom-btn {
	text-align: center;
	padding: 10px 0;
}

.conference-calendar .model-content>div {
	float: left;
}

.conference-calendar .calendar-left {
	width: 500px;
}

.conference-calendar .calendar-right {
	width: 300px;
}

.calendar-div,
.today-div {
	height: 300px;
	padding: 0 5px;
}

.calendar-box {
	width: 500px;
}

.future-div {
	width: 300px;
	padding-top: 20px;
}

.future-title,
.today-title {
	padding: 3px;
	background: #D8E6F4;
	font-size: 16px;
	font-weight: bold;
}

.today-title {
	text-align: center;
}

.future-ul {
	height: 550px;
	overflow: auto;
}

.future-ul li {
	padding-top: 5px;
}

.future-ul li div.last {
	border-top: 1px solid #DFE6F3;
}

.today-div {}

.future-ul .future-name {
	padding: 5px 2px;
	background: #F2F2F2;
}

.future-ul .future-address {
	padding: 5px 0;
}

.future-ul .future-time {
	padding: 2px 0;
}

.today-ul {
	height: 270px;
	overflow: auto;
}

.today-ul li {
	padding: 10px 0;
}

.today-ul li.last {
	border-top: 1px solid #DFE6F3;
}

.today-msg {}

.today-user {
	padding-top: 5px;
}

.letter-two {
	letter-spacing: 44px;
}

.letter-three {
	letter-spacing: 15px;
}

.calendar-div .td-coll {
	height: 20px;
}

.calendar-div .td-coll.bg {
	background: url(../../images/system/expensesReim/common/calendar-coll.png) right no-repeat;
}

.calendar-body td {
	text-align: left;
	padding: 0 5px;
	font-size: 12px;
}

.calendar-div .td-day {
	float: right;
	padding: 1px;
	padding-top: 0;
}

.calendar-div .td-day.check {
	background: red;
	border-radius: 50%;
	color: #fff;
}

.calendar-header {
	text-align: left;
	background: #fff;
	color: #333;
	font-size: 18px;
}

.calendar-header a {
	color: #333;
}

.calendar-prevyear {
	background: url(../../images/calendar/calendar_prevyear.png) no-repeat center;
}

.calendar-nextyear {
	background: url(../../images/calendar/calendar_nextyear.png) no-repeat center;
}

.calendar-prevmonth {
	background: url(../../images/calendar/calendar_prevyear.png) no-repeat center;
}

.calendar-nextmonth {
	background: url(../../images/calendar/calendar_nextyear.png) no-repeat center;
}

.calendar-menu-prev {
	margin-right: 10px;
	background: url(../../images/calendar/calendar_prevyear.png) no-repeat 5px 6px;
}

.calendar-menu-next {
	margin-left: 10px;
	background: url(../../images/calendar/calendar_nextyear.png) no-repeat 5px 6px;
}

.calendar-menu-month {
	text-align: center !important;
}

.calendar-thisday {
	float: right;
	font-size: 12px;
	text-decoration: none;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
}

.today-address {
	margin-left: 50px;
}

.today-schedule {
	padding: 10px 0;
}

.calendar {
	border: none;
}


/*滚动条样式*/

 ::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 6px;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 6px;
}

 ::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	background: #97C7ED;
}

 ::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	background: #c8c8c8;
}

#closeIcon {
	float: right;
	display: inline;
	cursor: pointer;
}

#closeIcon img {
	margin-top: 3px !important;
	margin-right: 0px !important;
}


/*************** 会议安排 End *********************/


/******************* 20180507 待办事项 **********************/

.backlog-model {
	height: 250px;
	overflow: auto;
}

.backlog-model .to_do_userName,
.backlog-model .to_do_num {
	color: #179ee8;
}

.scroll-not-data {
	display: none;
	padding: 10px;
	text-align: center;
	color: #999;
	font-size: 16px;
}

.scroll-load-data {
	display: none;
	padding: 10px;
	text-align: center;
	color: #999;
	font-size: 16px;
}

.scroll-load-data img {
	vertical-align: middle;
	margin-bottom: 3px;
	margin-left: 3px;
}

.scroll-load-data span {
	cursor: pointer;
}


/******************* 20180507 待办事项 **********************/

.update-pwd-model {
	position: fixed;
	left: 0;
	top: 0;
	width: 520px;
	z-index: 101;
	display: none;
}

.close-span {
	color: #FFFFFF;
	float: right;
	display: inline;
	cursor: pointer;
}

.update-pwd-model #updatePwd body {
	background: #FFFFFF !important;
}

.buttton-box button {
	padding: 0 10px 1px;
	height: 30px;
	width: auto !important;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	cursor: pointer;
	outline: none;
}

.buttton-box button.confirm-buttton {
	background: #417095 !important;
	border: 1px solid #417095 !important;
}

.buttton-box button.reset-button {
	background: #d6e6f3 !important;
	border: 1px solid #d6e6f3 !important;
	color: #666 !important;
}

table.form-table input {
	height: 28px !important;
	line-height: 28px !important;
	padding: 0px 0px 4px 4px !important;
	background: #FFFFFF;
	color: #333333;
	font-size: 14px;
	outline: none;
	border: 1px solid #DFE6F3 !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

table.form-table input:hover {
	border-color: #bcc8dd!important;
}

.version-desc-model {
	position: fixed;
	left: 0;
	top: 0;
	width: 600px;
	padding: 15px;
	z-index: 101;
	background: #FFFFFF;
	display: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.version-desc-model .ver-lable {
	color: #179ee8;
	font-weight: bold;
	font-size: 15px;
}

pre {
	max-height: 205px;
    overflow: auto;
	white-space: pre-wrap;
	/* CSS-3 */
	white-space: -moz-pre-wrap;
	/* Mozilla, since 1999 */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	word-wrap: break-word;
}