.ordinary-div {
	padding: 20px 0;
	margin: 5px;
	border: 1px solid #DFE6F3;
	background-color: #FFFFFF;
	min-width: 1093px;
	min-height: 825px;
}


/*付款明细*/

.base-info-model {
	padding: 0 0 18px;
}

.payee-info {
	padding: 0 0 18px;
}

.title-model-sty {
	position: relative;
	height: 25px;
	line-height: 25px;
}

.title-line div {
	height: 1px;
	border-bottom: 1px solid #de595a;
}

.form-num-model {
	float: right;
	display: inline;
	padding-right: 35px;
}

#firstTr label {
	color: #384495;
	font-weight: bold;
}

#firstTr tr {
	height: 30px;
}

.base-form-info {
	padding: 0 10px;
}

.division-div {
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	margin-top: 20px;
	background: #EFF3F6;
	border: 1px solid #D6E6F3;
	border-left: 0px;
	border-right: 0px;
	padding-left: 18px;
}

.secondary-title {
	position: relative;
	padding: 10px;
	/*padding-left: 20px;*/
	margin: 10px 0;
}
.secondary-back{
	border-radius:10px;
}
.secondary-text {
	position: absolute;
	top: 0;
	left: 30px;
	color: #384495;
	font-size: 16px;
	background: #fff;
}

.secondary-line {
	border-bottom: 1px dashed #384495;
}

.travel-list-model {
	padding: 20px 10px 0 10px;
}

.law-link {
	float: right;
	display: inline;
	margin-right: 5px;
	font-size: 14px;
}

.cost-total-rmb label,
#applyMoneyLower {
	color: #475c6d;
	font-weight: bold;
}

.cost-total-rmb {
	padding: 20px 20px 20px 16px;
	font-size: 16px;
}

.documentsNum-div {
	padding: 0 20px 20px 16px;
	font-size: 16px;
}

.documentsNum-div .documentsNum-div-div label {
	color: #475c6d;
	font-weight: bold;
}

.payee-append-div {
	padding: 0 20px 20px 20px;
	font-size: 16px;
}

.payee-append-div .payee-append-case {
	/*padding-left: 130px;*/
	font-size: 16px;
}

.pay-detail-div {
	margin-left: 20px;
}

.receive-update img,
.receive-del img {
	vertical-align: middle;
}

.operation {
	/*padding-left: 10px;*/
	padding-top: 10px;
}

.count-box {
	padding: 10px 20px;
}

.count-box .form-label {
	width: 49%;
}

.form-label {
	position: relative;
	width: 33%;
	display: inline-block;
}

.oper-select {
	width: 200px;
}

.nice-select {
	display: inline-block;
	float: none;
	width: 165px;
	vertical-align: middle;
}

.dan-select {
	width: 200px;
}

.nice-select .current {
	width: 100%;
	color: #999;
	display: inline-block;
	overflow: hidden;
}

.count-box .right {
	overflow: hidden;
}

.count-box .left {
	width: 100px;
	float: left;
}

.button-box {
	padding: 10px 0;
}

.button-box {
	padding-top: 10px;
	text-align: center;
}

.button-box button {
	padding: 0 10px;
	border-radius: 2px;
	cursor: pointer;
	outline: none;
}

.create-detali {
	position: fixed;
	width: 500px;
	top: 0;
	left: 0;
	z-index: 101;
	display: none;
}

.create-expense {
	position: fixed;
	width: 500px;
	top: 0;
	left: 0;
	z-index: 101;
	display: none;
}

.model-content {
	padding: 10px 20px;
}

.model-content {
	background: #FFFFFF;
}

.model-title img {
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 3px;
}

.from-table {
	width: 100%;
}

.from-table tr td {
	position: relative;
	padding: 10px 0;
}

.letter-two {
	letter-spacing: 44px;
}

.letter-three {
	letter-spacing: 14px;
}

.letter-four {
	letter-spacing: 6px;
}

#pay-detail-trends {
	margin: 20px 0 20px 0;
}

.receive-update {
	margin-right: 20px;
}

.payee-append-div a {
	font-size: 14px;
	margin-bottom: 10px;
}

.file-box .li-div {
	position: relative;
	display: block !important;
	padding: 5px 10px;
	color: #384495;
}

.reim-total-lower-div {
	margin-left: 165px;
}

.cost-total-rmb {
	padding: 20px 20px 20px 16px;
	font-size: 16px;
}

.cost-total-rmb div {
	display: inline;
}

.shrink-div {
	padding-left: 10px;
}

#submitPayment,#ClearBtn{
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	font-size: 18px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	outline: none;
}