.body-div {
    margin: 5px;
    border: 1px solid #DFE6F3;
    background-color: #FFFFFF;
    min-width: 950px;
    /*min-height: 865px;*/
}
.search-div {
    /*width: 1400px;*/
    padding: 10px 25px;
    background: #fff;
    /*border-bottom: 1px solid #DFE6F3;*/
}
.form-table tr td {
    padding: 10px 0;
}
.letter-three {
    letter-spacing: 15px;
}
.letter-four {
    letter-spacing: 5px;
}
.nice-select {
    display: inline-block;
    float: none;
    width: 150px;
    vertical-align: middle;
}
.nice-select .current {
    width: 100%;
    color: #999;
    display: inline-block;
    overflow: hidden;
}
.apply-types {
    width: 233px;
}
.department {
    width: 246px;
}
.apply-span {

}
.input-rod {
    margin-left: 10px;
    margin-right: 10px;
}
.plan-list-model{
	margin: 20px;
}
.operate-update {
    margin-right: 23px;
}
.separator{
 margin: 0px 10px;
 color: #999999;
}
.yt-table{
	table-layout: auto;
}
.user-name-sel{
	width: 190px;
}
.apply-begin-money,.apply-end-money{
	width: 190px;
	padding-right: 4px;
}
