body {
    background: #f3f3f3;
    color: #333;
    font-size: 14px;
    font-family: Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
}
#budgetReport,#proCostUsageQuery{
	margin: 5px;
    min-width: 1140px ;
    border: 1px solid #DFE6F3;
    background-color: #FFFFFF;
    min-height: 825px;
}


.plan-list-model {
	background: #FFFFFF;
}
.nice-select {
    display: inline-block;
    float: none;
    width: 200px;
    vertical-align: middle;
}

/*新*/

.yt-table {
	table-layout: auto;
}

.page-info {
	position: relative;
}
/*.sort-btn-list{
	padding-top: 20px !important;
}
.radio-input-list{
	padding-top: 20px !important;
}*/
.select-title{
	font-size: 28px;
	padding: 20px
}
.budget-radio{
	margin-left: 20px;
	margin-bottom: 20px;
}
.budget-organ{
	margin-left: 20px;
	margin-bottom: 20px;
}
.budget-next{
	float: right;
	margin-right: 20px;
}
.margin-label{
	margin-left: 20px;
}
.text-overflow{
	max-width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.title-line {
    padding-left: 10px;
}
.title-line div {
    height: 1px;
    border-bottom: 1px solid #de595a;
    /*width: 285px;*/
    margin-left: -10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.check-input-div{
	float: left;
	width: 100px;
	height: 20px;
	margin-right: 15px;
	padding-top: 5px;
}
label.yt-checkbox{
	display: inline;
}
.check-label-div{
	text-align: left;
}
