body {
    background: #f3f3f3;
    color: #333;
    font-size: 14px;
    font-family: Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
}
#budgetReport,#proCostUsageQuery{
	margin: 5px;
    min-width: 1140px ;
    border: 1px solid #DFE6F3;
    background-color: #FFFFFF;
    min-height: 825px;
}


.plan-list-model {
	background: #FFFFFF;
}
.nice-select {
    display: inline-block;
    float: none;
    width: 200px;
    vertical-align: middle;
}

/*新*/

.yt-table {
	table-layout: auto;
}

.page-info {
	position: relative;
}
/*.sort-btn-list{
	padding-top: 20px !important;
}
.radio-input-list{
	padding-top: 20px !important;
}*/
.select-title{
	font-size: 28px;
	padding: 20px
}
.budget-radio{
	margin-left: 20px;
	margin-bottom: 20px;
}
.budget-organ{
	margin-left: 20px;
	margin-bottom: 20px;
}
.margin-label{
	margin-left: 20px;
}
.text-overflow{
	max-width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.level-one-div , .level-two-div , .level-three-div{
	margin-top: 10px;
}
.bold-div{
	padding-left: 20px;
	padding-top: 10px;
	text-align: left;
}
.button-box {
    padding: 10px 0;
    text-align: center;
}
.button-box button {
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    font-size: 18px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}
.relevance-pop {
    width: 570px;
}
.yt-edit-alert .model-bottom-btn {
    text-align: center;
}
.relevance-pop .role-left-list {
	padding-top: 5px;
    width: 195px;
    padding-left: 5px;
    height: 355px;
    border: 1px solid #999;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.relevance-pop .role-right-list {
    width: 190px;
    height: 350px;
    border: 1px solid #999;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: auto;
    padding: 5px;
}
.cont-edit-test table tr td {
    padding-bottom: 20px;
}
.relevance-pop .set-role-button .d-left, .relevance-pop .set-role-button .d-right {
    margin-top: 0;
}
.relevance-pop .set-role-button li button {
    margin-bottom: 18px;
}
.set-role-button button {
    width: 100px;
    height: 24px;
    border: none;
    margin: 0 5px;
    outline: none;
    cursor: pointer;
}
.model-bottom-btn button{
    margin-bottom: 10px;
}
.relevance-pop .role-left-list ul {
   /* height: 265px;
    width: 190px;
    margin-top: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: auto;*/
}
.role-right-list li {
    font-size: 12px;
    color: #666666;
    margin: 3px 0;
    cursor: pointer;
}
.li-active {
    background: #d9e8f5;
}
.text-overflow {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/**
 * 
 * 
 * easyUI
 * 
 * 
 */
.tree-title{
	font-size: 13px !important;
}
.tree-node-selected{
	background: #d6e6f3 !important;
}
